<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.GoodsMapper">

    <resultMap id="BaseResultMap" type="generator.domain.Goods">
            <id property="goodsId" column="goods_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
            <result property="goodsDesc" column="goods_desc" jdbcType="VARCHAR"/>
            <result property="goodsPrice" column="goods_price" jdbcType="DECIMAL"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="wxNum" column="wx_num" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="image" column="image" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="sellStatus" column="sell_status" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="setIndex" column="set_index" jdbcType="VARCHAR"/>
            <result property="deleteStatus" column="delete_status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        goods_id,user_id,category_id,
        type,goods_name,goods_desc,
        goods_price,user_name,phone,
        wx_num,address,image,
        status,sell_status,create_time,
        set_index,delete_status
    </sql>
</mapper>
