<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lys.web.friend.mapper.FriendMapper">
    <!--查询未读消息-->
    <select id="getRead" resultType="com.lys.web.chat.entity.Imsingle">
        select imsingle.fromuser,imsingle.touser,readed
        from imsingle
        group by imsingle.fromuser,imsingle.touser,readed
        having imsingle.touser=#{touser}
        and imsingle.readed='0'

    </select>
</mapper>
